.google{
    background-color: #ea4335;
}
.twitter{
    background-color: #1DA1F2;
}
.facebook{
    background-color: #3b5998;
  }
.icon{
      font-size: 25px;
      color: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

.google:hover{
    background-color: rgb(51, 50, 50);
}

/* input[type=submit]{
    font-size: 18px;
    background-color: #E73040;
} */

/* input[type=submit]:hover{
    background-color: rgb(51, 50, 50);
} */
/* .button{
    background-color: #E73040;
} */


.link{
    text-decoration: underline;
    cursor: pointer;
    color: #0000EE;
    font-weight: 600;
}
.link:active {
    color: #EE0000;
}
.link:visited {
    color: #551A8B;
}

body {padding:0px; margin:0px;}
/* form {
    padding:0px 1px 2px 7px; 
    margin:2px 0px 2px 0px;
    border-bottom:#CCC dotted 1px;
} */